<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "home" %>
</head>

<body>

    <div class="overlay"></div>

		<!--LOGO/SMTH
		<nav class="navbar fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">logo/smth</span></a>
					</div>
				</div>
		</nav> 
		-->
  
    <!--MAIN CONTENT-->
    <div class="wrapper">
        <div class="container">
            <div class="centered">
                <div class="banner-info text-center">
                    <h1 class="bnr-title">Mentor <span class="bnr-title2">Matcher</span></h1>
                    <p class="bnr-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="brn-btn">
                        <a href="/sessions/login" class="btn btn-login">Log in</a>
                        <a href="/users/new" class="btn btn-signup">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>