// Place all the styles related to the group_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* background */

body {
  background: url("bg.png") no-repeat fixed center bottom;
  background-size: cover;
  position: relative;
}

.main-overlay {
  opacity: 0.4;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/* header */

.navbar {
  padding: 15px 10px;
  background: linear-gradient(
    to right,
    rgba(157, 171, 213, 0.7),
    rgba(190, 133, 211, 0.7),
    rgba(163, 4, 187, 0.7)
  );
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  color: white;
  font-family: "Lobster", cursive;
  font-size: 25px;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 30px;
  height: 30px;
}

/* sidebar */

.menu-btn {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.wbtn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  text-align: left;
  outline: none;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 2000;
  background: #380852;
  color: #fff;
  transition: 0.5s;
}

#sidebar.active {
  left: 0;
}

#sidebar .sidebar-header {
  font-size: 30px;
  padding: 20px;
  background: #642c85;
  margin-bottom: 20px;
}
#sidebar h3 {
  font-size: 30px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a,
.btn {
  padding: 10px;
  padding-left: 15px;
  font-size: 1.2em;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  outline: none;
}

#sidebar ul li a:hover,
.btn:hover {
  background: rgb(175, 82, 247);
  text-decoration: none;
  color: white;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #cd73d5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: rgb(255, 255, 255);
  color: #7386d5;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

/* user dropdown */

.username {
  border-style: none;
  width: 100px;
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

.user .dropdown-menu input {
  background-color: transparent;
}

.user .navbar-nav > li > .dropdown-menu {
  background-color: #430f5f;
}
.user .dropdown span {
  color: #ffffff;
  cursor: pointer;
}

.user .dropdown-menu li {
  font-size: 15px;
  border-style: none;
  width: 100%;
  height: 100%;
  padding: 5px 15px 5px 15px;
  opacity: 0.7;
}
.user .dropdown-menu li:hover {
  background-color: rgb(182, 82, 248);
  opacity: 1;
}
.user .dropdown i {
  font-size: 25px;
  vertical-align: center;
}

.user .drp-btn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  text-align: left;
  outline: none;
}
/* manage user accounts */
#users td {
  padding-left: 30px;
  padding-right: 30px;
}
/* view sessions */

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}

#sessions td {
  padding-left: 70px;
  padding-right: 70px;
}

.view table {
  border-spacing: 1em 0.5em;
  color: #ffffff;
}

.view .rows-space {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.view td {
  border-style: none;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
}

.view td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.view td:last-child {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.view tr:hover td {
  background-color: rgba(255, 162, 255, 0.5);
}

.button {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  border-style: none;
}

.button:hover {
  background-color: rgb(67, 18, 80);
  color: white;
  text-decoration: none;
}

/* create session */

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  padding-top: 10%;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

.input-session {
  font-size: 18px;
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 25px;
  border-style: none;
  height: 50px;
  width: 320px;
  padding-left: 60px;
  font-weight: 100;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  outline: none;
}

.createsession {
  line-height: 20px;
}

.createsession #sched ul li a:hover {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.createsession #sched ul li a {
  color: black;
}

.circle {
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 25px;
  border-style: none;
  height: 50px;
  width: 350px;
  margin: auto;
}

::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.input-field {
  position: relative;
  margin: auto;
}

.icon:before {
  color: white;
  opacity: 0.8;
  padding-left: 20px;
  height: 100%;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: absolute;
  font-size: 20px;
  pointer-events: none;
}

.sched-icon {
  color: white;
  padding-left: 20px;
  width: 100%;
  font-size: 20px;
  opacity: 0.8;
  pointer-events: none;
}

.save-button {
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    rgba(255, 51, 204, 0.5),
    rgba(102, 102, 255, 1)
  );
  border-radius: 25px;
  border-style: none;
  position: relative;
  height: 50px;
  width: 320px;
  text-align: center;
  color: white;
}

.cond {
  color: white;
  font-size: 18px;
  padding: 10px;
}

/* join session */

.session-info {
  color: white;
  margin-top: 10%;
  background-color: rgba(87, 84, 84, 0.3);
  border-radius: 15px;
  padding: 15px;
  padding-top: 3px;
  border-width: 1px;
  margin-bottom: 10px;
}

.session-info i {
  color: white;
  font-size: 30px;
  width: 50px;
  padding-right: 15px;
}

.session-info .rows-space {
  border-spacing: 0 5px;
}

.session-info td {
  background-color: transparent;
  padding: 10px;
}

.session-info .join-btn {
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    rgba(255, 51, 204, 0.5),
    rgba(102, 102, 255, 1)
  );
  border-radius: 25px;
  border-style: none;
  position: relative;
  height: 50px;
  width: 200px;
  text-align: center;
  color: #ffffff;
  outline: none;
}
.label {
  font-size: 20px;
  color: rgb(231, 134, 255);
  font-weight: 400;
}

.modal {
  color: black;
}

.modal .btn-primary {
  background: #9c33ff;
}
