/*
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
Author: Martina Sophia P. Casiano
Code History:
Sophia - 2/6/2019 - Added background, header, sidebar, dropdown, view sessions
Sophia - 2/20/2019 - Added styles for error messages, modal, buttons, table
Sophia - 3/6/2019 - Added styles for rating/feedback/report users and profile page
Sophia - 3/20/2019 - Added styles for managing user accounts
Sophia - 4/4/2019 - Modified frontend for user profile page and view reports page
*/

@import url("https://fonts.googleapis.com/css?family=Raleway|Lobster|Open+Sans|Roboto|Boogaloo|Quicksand");

/* background */

body {
  background: url("bg.png") no-repeat fixed center bottom;
  background-size: cover;
  position: relative;
}

.main-overlay {
  opacity: 0.4;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/* header */

.navbar {
  padding: 15px 10px;
  background: linear-gradient(
    to right,
    rgba(157, 171, 213, 0.7),
    rgba(190, 133, 211, 0.7),
    rgba(163, 4, 187, 0.7)
  );
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  color: white;
  font-family: "Lobster", cursive;
  font-size: 25px;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 30px;
  height: 30px;
}

/* sidebar */

.menu-btn {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.wbtn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  text-align: left;
  outline: none;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 2000;
  background: #380852;
  color: #fff;
  transition: 0.5s;
}

#sidebar.active {
  left: 0;
}

#sidebar .sidebar-header {
  font-size: 30px;
  padding: 20px;
  background: #642c85;
  margin-bottom: 20px;
}
#sidebar h3 {
  font-size: 30px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a,
.btn {
  padding: 10px;
  padding-left: 15px;
  font-size: 1.2em;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  outline: none;
}

#sidebar ul li a:hover,
.btn:hover {
  background: rgb(175, 82, 247);
  text-decoration: none;
  color: white;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #cd73d5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: rgb(255, 255, 255);
  color: #7386d5;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar a[data-toggle="collapse"] {
  position: relative;
}

/* user dropdown */

.username {
  border-style: none;
  width: 100px;
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

.user .dropdown-menu input {
  background-color: transparent;
}

.user .navbar-nav > li > .dropdown-menu {
  background-color: #430f5f;
  width: 250px;
}
.user .dropdown span {
  color: #ffffff;
  cursor: pointer;
}

.user .dropdown-menu li {
  font-size: 15px;
  border-style: none;
  width: 100%;
  height: 100%;
  padding: 5px 15px 5px 15px;
  opacity: 0.7;
  text-align: left;
}

.user .dropdown-menu li:hover {
  background-color: rgb(182, 82, 248);
  opacity: 1;
}
.user .dropdown i {
  font-size: 25px;
  vertical-align: center;
}

.user .drp-btn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  text-align: left;
  outline: none;
}

.user .dropdown-menu a {
  margin-left: 0;
  padding-left: 5px;
  display: block;
  width: 100%;
}

.user .dropdown a:hover,
a:focus {
  text-decoration: none;
}

/* manage user accounts */
#users td {
  padding-left: 30px;
  padding-right: 30px;
}

.tabcontent {
  display: none;
}

.tab button:focus {
  outline: 0;
}

.tab button.active {
  font-weight: bold;
  color: White;
  opacity: 1;
}

/* view sessions */

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}

#sessions td {
  padding-left: 70px;
  padding-right: 70px;
}

.view table {
  border-spacing: 1em 0.5em;
  color: #ffffff;
}

.view .rows-space {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.view td {
  border-style: none;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
}

.view td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.view td:last-child {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.view tr:hover td {
  background-color: rgba(255, 162, 255, 0.5);
}

.button {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  border-style: none;
}

.button:hover {
  background-color: rgb(67, 18, 80);
  color: white;
  text-decoration: none;
}

.inline {
  display: inline;
  color: white;
  font-family: "Raleway", sans-serif;
  opacity: 0.5;
  margin: 0 0 0 0;
}

.inline:hover {
  text-decoration: none;
  opacity: 1;
}

.v-active {
  font-weight: bold;
  opacity: 1;
}

.btn-link {
  border-style: none;
  outline: none;
  background-color: transparent;
}

.empty {
  color: white;
  opacity: 0.7;
  margin-top: 50%;
  font-size: 20px;
}

/* view sessions scrollbar */

.scrolly {
  padding: 15px;
  padding-top: 0px;
  overflow-y: auto;
  height: 400px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: gray;
  box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cec3c3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* create session */

.title {
  font-size: 40px;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  padding-top: 10%;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

.input-session {
  font-size: 18px;
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 25px;
  border-style: none;
  height: 50px;
  width: 350px;
  padding-left: 60px;
  font-weight: 100;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  outline: none;
}

.createsession {
  line-height: 20px;
}

.createsession #sched ul li a:hover {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.createsession #sched ul li a {
  color: black;
}

::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.input-field {
  position: relative;
  margin: auto;
}

.icon:before {
  color: white;
  opacity: 0.8;
  padding-left: 20px;
  height: 100%;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: absolute;
  font-size: 20px;
  pointer-events: none;
}

.save-button {
  font-size: 22px;
  background-image: linear-gradient(
    to right,
    rgba(255, 51, 204, 0.5),
    rgba(102, 102, 255, 1)
  );
  border-radius: 25px;
  border-style: none;
  position: relative;
  height: 50px;
  width: 350px;
  text-align: center;
  color: white;
  outline: none;
  letter-spacing: 1.2px;
}

.myDIV {
  display: none;
}

.circle {
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 25px;
  border-style: none;
  height: 50px;
  width: 350px;
  margin: auto;
  font-size: 20px;
  color: white;
}

.default-sched {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  padding-left: 10px;
}

.default-sched select {
  border: 1px solid #fff;
  background-color: transparent;
  border-style: none;
  color: white;
  font-size: 18px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

.default-sched select option {
  color: black;
}

#sched-placeholder {
  padding-left: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.5;
}

.column i {
  opacity: 0.8;
}
.column {
  float: left;
}

.left {
  width: 50px;
  padding-left: 20px;
}

.right {
  width: 330px;
}

/* error message */

.err-msg {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 153, 153, 0.9);
  border-style: solid;
  border-color: rgb(138, 1, 1);
  border-width: 1px;
  border-radius: 5px;
  margin: auto;
  width: fit-content;
  min-width: 300px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.err-msg i {
  font-size: 20px;
  color: rgb(156, 12, 12);
}

/* join session */

.session-info {
  color: white;
  margin-top: 10%;
  width: 43%;
}

.session-info i {
  color: white;
  font-size: 27px;
  width: 50px;
}

.def-btn {
  font-size: 21px;
  background-image: linear-gradient(
    to right,
    rgba(255, 51, 204, 0.7),
    rgba(102, 102, 255, 1)
  );
  border-radius: 25px;
  border-style: none;
  height: 50px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  letter-spacing: 1.5px;
  border-style: none;
  outline: none;
}

.modal {
  color: black;
}

.modal .btn-primary {
  background: #9c33ff;
}

.session-info a {
  color: white;
}

.session-info b {
  color: rgb(197, 133, 226);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.sess {
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 15px;
  padding: 8px 40px 8px 40px;
  margin-bottom: 10px;
}

.session-info .scrolly {
  padding: 15px;
  padding-top: 0px;
  overflow-y: auto;
  height: 100px;
}

/* feedback */

.feedback {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.feedback b {
  padding-left: 5px;
}
.feedback select {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  outline: none;
  letter-spacing: 1px;
  text-align: center;
  margin-left: 15px;
}

.feedback select option {
  color: black;
}
.text-area {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
}

.text-area::placeholder {
  color: rgb(0, 0, 0);
}

.feedback label {
  color: white;
  font-size: 17px;
  margin-bottom: 5px;
}

.feedback div {
  padding-bottom: 10px;
}

/* profile */

.profile {
  background-color: rgba(10, 10, 34, 0.4);
  color: white;
  font-size: 18px;
  text-align: center;
  width: fit-content;
  font-family: "Varela Round", sans-serif;
  padding: 8vh;
  padding-top: 10vh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.profile h1 {
  font-family: "Boogaloo", cursive;
  font-size: 50px;
  color: #8d4fb1;
}

.profile h4 {
  font-size: 1.2rem;
  opacity: 0.5;
}

.profile h3 {
  color: #d79cfa;
  font-size: 2.5rem;
}

.comment-sect {
  background-color: rgba(10, 10, 34, 0.8);
  color: white;
  font-size: 18px;
  padding: 30px;
  width: fit-content;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: "Nunito", sans-serif;
}

.comment-sect p {
  color: white;
}

.l {
  margin-top: 11%;
  width: 50%;
  height: 74vh;
}

.r {
  margin-top: 11%;
  width: 35%;
  height: 74vh;
  overflow-wrap: break-word;
}

.profile .btn {
  font-size: 13px;
  height: fit-content;
}

.link-btn {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 0.8em;
  margin-top: 10px;
  color: white;
}
.profile .btn-outline-secondary {
  outline: none;
  background-color: transparent;
  border-radius: 20px;
  color: white;
  border-color: #642c85;
  margin-top: 5vh;
  width: 15vw;
}

.profile .btn-outline-secondary:hover {
  outline: none;
  color: white;
  background-color: #642c85;
}

.no-comments {
  opacity: 0.5;
  color: gray;
}

/* user reports */

.btn-inline {
  display: inline-block;
}
